<h1>物件編集</h1>
<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
  <div id="error_expanation">
    <h2><%= @property.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div>
    <p><%= form.label :物件名 %></P>
    <p><%= form.text_field :name %></P>
  </div>
  <div>
    <p><%= form.label :賃料 %></P>
    <p><%= form.number_field :rent %></P>
  </div>
  <div>
    <p><%= form.label :住所 %></P>
    <p><%= form.text_field :address %></P>
  </div>
  <div>
    <p><%= form.label :築年数 %></P>
    <p><%= form.number_field :age %></P>
  </div>
  <div>
    <p><%= form.label :備考 %></P>
    <p><%= form.text_area :note %></P>
  </div>
  <hr>
  <%= form.fields_for :stations do |station| %>
    <h3>最寄り駅<%= station.index + 1 %></h3>
    <div>
    <p><%= station.label :路線名 %></p>
    <p><%= station.text_field :line %></p>
    </div>
    <div>
    <p><%= station.label :駅名 %></p>
    <p><%= station.text_field :station %></p>
    </div>
    <div>
    <p><%= station.label :徒歩分数 %></p>
    <p><%= station.number_field :minute %>分</p>
    </div>
    <% end %>
    <p><%= form.submit :更新する %></P>
<% end %>
<%= link_to "詳細", property_path(@property.id) %> | 
<%= link_to "戻る", properties_path %>