<h1>物件登録</h1>
<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_expanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p><%= form.label :物件名 %></p>
    <p><%= form.text_field :name %></p>
  </div>
  <div>
    <p><%= form.label :賃料 %></p>
    <p><%= form.number_field :rent %>円</p>
  </div>
  <div>
    <p><%= form.label :住所 %></p>
    <p><%= form.text_field :address %></p>
  </div>
  <div>
    <p><%= form.label :築年数 %></p>
    <p><%= form.number_field :age %>年</p>
  </div>
  <div>
    <p><%= form.label :備考 %></p>
    <p><%= form.text_area :note %></p>
  </div>
  <hr>
  <%= form.fields_for :stations do |station| %>
  <h3>最寄り駅<%= station.index + 1 %></h3>
    <div>
      <p><%= station.label :路線名 %></p>
      <p><%= station.text_field :line %></p>
    </div>
    <div>
      <p><%= station.label :駅名 %></p>
      <p><%= station.text_field :station %></p>
    </div>
    <div>
      <p><%= station.label :徒歩分数 %></p>
      <p><%= station.number_field :minute %>分</p>
    </div>
  <% end %>
    <p><%= form.submit :登録する %></p>
<% end %>
<%= link_to "戻る", properties_path %>